.container {
  padding: 1.5rem 3rem;
  margin: 0 auto;
  margin-top: 2rem;

  .new-category {
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #3f50b5;
    border-radius: 10px;
    border: none;
    transition: 0.3s;

    &:hover {
      transform: scale(1.01);
      background-color: rgb(255, 255, 255);
      border: 1px solid #3f50b5;
      color: #3f50b5;
    }
  }

  .tbl-title {
    th {
      font-family: sans-serif;
      text-align: center;
      font-size: 1rem;
      background: #3f50b5;

      color: #fff;

      &:first-child {
        border-top-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
      }
    }
  }

  .tbl-data {
    width: 35% !important;
    text-align: center;
  }

  .tbl-actions {
    display: flex;
    justify-content: space-evenly;
  }

  .btn-actions {
    border: none;
    background-color: transparent;

    cursor: pointer;
  }

  .red {
    color: rgb(253, 28, 7);
  }

  .orange {
    color: rgb(255, 196, 0);
  }

  .anticon {
    font-size: 20px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media screen and (max-width: 500px) {
    padding: 1.5rem 1rem;

    .new-category {
      margin-bottom: 1.5rem;
    }

    .tbl-actions {
      display: table-cell;
    }
  }
}

tbody.ant-table-tbody {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid red;
}
