<div class="container">
  <div class="flex card-item">
    <div class="flex-item">
      <mat-card class="receita">
        <mat-card-header class="center">
          <mat-card-title class="titulo"> R$ 1000.00 </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="flex card-item">
    <div class="flex-item">
      <mat-card class="despesa">
        <mat-card-header class="center">
          <mat-card-title class="titulo"> R$ 1000.00 </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="flex card-item">
    <div class="flex-item">
      <mat-card class="saldo">
        <mat-card-header class="center">
          <mat-card-title class="titulo"> R$ 1000.00 </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
